
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:11px Arial, Helvetica, sans-serif; background:url(../images/background.png) #414141;}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:none; }
a:hover                        { text-decoration:none; }
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
/*--WRAPPER--*/
#wrapper {	}
#header { margin-top:41px; margin-bottom:6px; width:1080px; height:656px; margin:0 auto; background:url(../images/main-background.jpg) no-repeat;}
#header a img { margin:41px 0 0 130px; }
#header ul.languages { margin-right:130px;}
.languages { float:right;}
.languages li { float:left;}
.languages li a { display:block; background:url(../images/flags.png) no-repeat; margin: 60px 0 0 21px; width:22px; height:13px; text-indent:-999em;}
.languages li a.english { background-position:0 0;}
.languages li a.montenegro { background-position:-22px 0;}
.languages li a.ukraine { background-position:-44px 0;}

/*--CAROUSEL--*/
#slideshow{
		overflow:hidden;
		position:relative;
		-moz-box-shadow:5px 5px 25px #D5D5D5;
		-webkit-box-shadow:5px 5px 25px #D5D5D5;
		box-shadow:5px 5px 25px #D5D5D5;
		width:507px;
		height:362px;
		background-color:#0000FF;
		display:block; 
		border:4px solid #FFF;
		opacity:1.0;
		float:left;}


#slideshow ul{
		height:362px;
		list-style:none outside none;
		overflow:hidden;
		position:absolute;
		width:507px;}

#slideshow li{
		position:absolute;
		display:none;
		z-index:10;}

#slideshow li:first-child{
		display:block;
		z-index:1000;}

#slideshow .slideActive{
		z-index:1000;}

#slideshow canvas{
		display:none;
		position:absolute;
		z-index:100;}

#slideshow .arrow{
		height:86px;
		width:60px;
		position:absolute;
		background:url(../images/arrows.png) no-repeat;
		top:50%;
		margin-top:-43px;
		cursor:pointer;
		z-index:5000;
		}

#slideshow .previous{ background-position:left top;left:0; text-indent:-1000em;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;  text-indent:-1000em;}
#slideshow .next:hover{ background-position:right bottom;}
/*--BANNER-*/
#banner { 
		width:780px;
		margin:0 auto 5px;
		
		height:401px; 
		background-color:#FDFDFD; 
		opacity:1.0; 
		border:4px solid #FFFFFF; 
		border-radius:3px;
		padding:16px 18px 0 16px;
		}
#banner .banner_menu {
		width:207px;
		height:358px;
		background:#FFFFFF;
		float:right;
		opacity:1.0;
		padding:12px 10px 0 17px;
		background:url(../images/realt-inside_5%25_sale.png) no-repeat 95% 5%;
		opacity: 1.0;
		box-shadow: 5px 5px 25px #D5D5D5}	
.banner_menu a { display:block; color:#B1B1B1; margin-bottom:18px;}

.banner_menu form ul {background-color:#F6F6F7;}
.banner_menu form ul li { margin-top:11px;}

#banner select { 
		background:url(../images/list-button.png) no-repeat; 
		border:none; 
		width:212px;
		color:#B1B1B1; height:22px;
		padding:2px 0 0 5px; }


.banner_menu input { 
		width:105px; 
		height:22px; 
		border:none; 
		background:url(../images/button-search.png) no-repeat; 
		font-size:13px; 
		color:#FFFFFF;}
/*--NAV--*/
#nav {  
		width:812px;
		margin:0 auto;
		overflow:hidden; 
		 
		background:url(../images/nav_background.gif) repeat-x;}

#nav ul { background:url(../images/nav_background.gif) repeat-x;}
#nav ul li a { 
		float:left; 
		width:132px; 
		height:40px; 
		text-align:center; 
		padding:26px 0 0 0;
		border-radius:0 0 10px 10px;
		margin-right:4px;
		color:#FFF;}
#nav ul li a.main:hover { background:url(../images/navigation.jpg) no-repeat 0 0;}
#nav ul li a.main { background:url(../images/navigation.jpg) no-repeat 0 -68px;}
#nav ul li a.realty:hover { background:url(../images/navigation.jpg) no-repeat -136px 0;}
#nav ul li a.realty { background:url(../images/navigation.jpg) no-repeat -136px -68px;}
#nav ul li a.about_us:hover { background:url(../images/navigation.jpg) no-repeat -272px 0;}
#nav ul li a.about_us { background:url(../images/navigation.jpg) no-repeat -272px -68px;}
#nav ul li a.about_montenegro:hover { background:url(../images/navigation.jpg) no-repeat -408px 0;}
#nav ul li a.about_montenegro { background:url(../images/navigation.jpg) no-repeat -408px -68px;}
#nav ul li a.contacts:hover { background:url(../images/navigation.jpg) no-repeat -544px 0;}
#nav ul li a.contacts { background:url(../images/navigation.jpg) no-repeat -544px -68px;}
#nav ul li a.attainment:hover { background:url(../images/navigation.jpg) no-repeat -679px 0;}
#nav ul li a.attainment { background:url(../images/navigation.jpg) no-repeat -679px -68px; margin:0px;}
/*--CONTEINER--*/
#conteiner { overflow:hidden; margin-bottom:30px; width:812px;
			margin:0 auto;}
/*--CONTENT--*/
#content .tesila_hill, .black { 
		width:663px; 
		height:302px; 
		background-color:#EDEDED; 
		box-shadow: 2px 2px 5px #333333; 
		border:1px solid #333;
		padding:6px;
		float:right;
		border-radius:5px;}
#content .tesila_hill { margin-bottom:4px;}
#content .tesila_hill img {
		displey:block; 
		border:1px solid #B1B1B1;}
#content .info_tesila_hill, .info_black { 
		display:block; 
		width:210px; 
		float:right; 
		padding: 20px 30px 0 0;}
#content .info_tesila_hill h2, .info_black h2 { 
		margin:0 0 15px -7px; 
		text-align:left; 
		font-size:16px; 
		color:#C1341B;}
#content .info_tesila_hill h3, .info_black h3 { 
		font-size:14px; 
		margin-bottom:15px;}
#content .info_tesila_hill p, .info_black p { margin:0 0 15px 0;}
#content .info_tesila_hill ul, .info_black ul { float:left; display:block;}

#content .info_tesila_hill ul li, .info_black ul li { margin-bottom:16px; width:130px;} 
#content .info_tesila_hill a, .info_black a { 
		width:105px; 
		height:23px;
		padding:4px 27px; 
		border:none; 
		background:url(../images/button-search.png) no-repeat 50% 50%; 
		font-size:13px; 
		color:#FFFFFF;} 
		
#content .info_tesila_hill a:hover, .info_black a:hover { opacity:0.7;}
 
#content .info_tesila_hill ul li a.search, .info_black ul li a.search { 
		padding:4px 23px; 
		background:url(../images/button-info.png) no-repeat 50% 50%;		
		color:#414141;}
#content .info_tesila_hill span.prise, .info_black span.prise { 
		margin:13px 0 0 10px; 
		font:12px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
		height:50px; 
		width:95px;
		}
#content .info_tesila_hill span.prise span, .info_black span.prise span { 
		font:18px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
		color:#C1331B; 
		display:block;}
/*--SIDEBAR--*/
#sidebar .section { 
		width:128px; 
		border:2px solid #FFF; 
		border-radius:5px; 
		margin-bottom:5px;
		background-color:#E9E9E9;
		color:#434343;}
#sidebar .section h4 {
		padding:6px 15px; 
		color:#AC3022; 
		font-size:14px; 
		font-weight:lighter;
		}

#sidebar .section a { 
		display:block; 
		color:#434343; 
		padding:8px 15px; 
		text-align:left;
		background:#E9E9E9;}
		
#sidebar .section li { background:url(../images/background-sidebar.gif) repeat-y; padding:1px 0 0 0;}
#sidebar .registration { 
		width:128px; 
		background-color:#E9E9E9; 
		border:2px solid #FFF; 
		border-radius:5px; 
		margin-bottom:5px;}
#sidebar .registration h4 {
		padding:8px 15px; 
		color:#AC3022; 
		font-size:14px; 
		font-weight:lighter;		
		box-shadow:2px 2px 2px #C3C3C3;}
#sidebar .registration form { padding:10px 10px;}
#sidebar .registration ul li { margin-bottom:10px;}

#sidebar .registration form ul li input {
		color:#434343;
		width:105px; 
		height:23px;
		padding-left:5px; 
		border:none; 
		background:url(../images/button-info.png) no-repeat; 
		font-size:13px; 
		color:#ACACAC;}

#sidebar .registration form #login { border:none; background-color:inherit;}
		
#sidebar .registration a {
		display:block; 
		padding:8px 15px 5px;
		color:#595959;
		font-size:14px; 
		font-weight:lighter;
		box-shadow:-2px -2px 2px #C3C3C3;
		margin-bottom:10px}
#sidebar .information { 
		 width:130px;
		 
		 background-color:#E7E7E7; 
		 border:2px solid #FFF; 
		 border-radius:5px;
		 padding-bottom:6px;}
#sidebar .information h4 {
		padding:8px 15px; 
		color:#AC3022; 
		font-size:14px; 
		font-weight:lighter;		
		box-shadow:2px 2px 2px #C3C3C3;}
#sidebar .information li a{ 
		display:block; 
		padding:4px 0 4px 13px; 
		color:#434343;}
#sidebar .information li a:hover{
		text-decoration:underline; 
		background:url(../images/arrow-sidebar.png) no-repeat 0 50%; } 
/*--FOOTER--*/
#footer {width:812px; margin:40px auto 0;}
#footer ul.footer-ul li { float:left; margin-right:20px;}
#footer ul.footer-ul li.attainment{ margin-right:0;}
#footer ul.footer-ul li a { font-size:11px; color:#FFFFFF; background:url(../images/nav_background.gif) no-repeat 100% 100%; }
#footer p { float:right; margin-top:2px; font-size:11px; color:#FFFFFF;}



